doctype html
html
	head
		title Home Library
		link(rel='stylesheet', href='/css/bootstrap.min.css')

	body
		nav(class='navbar navbar-expand bg-dark navbar-dark sticky-top')
			ul(class='navbar-nav')
				li(class='navbar-item')
					a(class='nav-link', href='/') Main
		.container.mt-3
			block content
		script(src='/js/scripts.js', type='text/javascript')
